body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #e47cc6;
    margin: 0;
    min-height: 100vh;
    text-align: center;

    background-image: url('background.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.white-box {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: px;     
    max-width: 300px;      
    margin: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

h1 {
    color: darkblue;
    text-shadow: 8px 0.7pc 4px lightgray
}

button {
    background-color: rgb(214, 236, 85);
    color: rgb(18, 16, 188);;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
}

p {
    color: rgb(185, 54, 199);
    font-size: 16px;
    line-height: 1.5;
}